* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Graphik, sans-serif;
}
body {
  background-color: black;
  min-height: 200vh;
}
.checkout{
  text-align: center;
  margin-top: 100px;
}
.checkout p{
  font-size: 40px;
  color: rgb(0, 223, 154);

}
.price{
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  font-size: 40px;
  color: rgb(0, 223, 154);
  text-align: center;
}
#total-price{
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  font-size: 40px;
  color: rgb(0, 223, 154);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 50px 100px;
  z-index: 10000;
  height: 200px;
}
header.sticky {
  padding: 5px 100px;
  background-color: rgba(110, 110, 110, 0.404);;
}
form{
margin-top: 20em; 
text-align: center;
}
input[type=number], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=url]{
  width:40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
header .logo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}
h1 {
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}
h1 span {
  transition: 0.5s linear;
}
h1:hover span:nth-child(1) {
  margin-right: 5px;
}
h1:hover span:nth-child(1):after {
  content: "'";
}
h1:hover span:nth-child(2) {
  margin-left: 30px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 20px rgba(154, 6, 190, 0.74),
    0 0 40px rgba(154, 6, 190, 0.74);
}
.inline {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a {
  color: #fff;
}
h3 {
  color: rgb(0, 223, 154);
  font-weight: 500;
  display: block;
  height: 15px;
  font-size: 15px;
  letter-spacing: 3.3px;
  line-height: 15px;
  text-align: center;
  text-size-adjust: 100%;
  text-transform: uppercase;
  -webkit-box-direction: normal;
  margin-top: 3em;
}
.menu img {
  cursor: pointer;
}

#cart-prodcut-container {
  margin-top: 100px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 4px;
  display: flex; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cart-product {
  margin: 20px;
}

img {
  width: 200px;
  height: 200px;
  margin: 0 -5px;
  margin-top: 200px;
}
.image-container img {
  border: red solid;
  height: 200px;
  width: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.image-container img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.btn a{
  display: inline;
  list-style: none;
  text-decoration: none;
  color: black;
}
.Calories{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btn {
  
  font-family: "Lato", sans-serif;
  border-radius: 8px;
  letter-spacing: 0.7px;
  border: none;
  outline: none;
  background-color: rgb(0, 223, 154);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: red;
}
