

/* ///the header css is RAMI WORK////// */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Graphik, sans-serif;
  }
  
  body {
    background-color: black;
    min-height: 200vh;
    margin-right: 10%;
    margin-left: 10%;
    /* background-image: url(https://i.gifer.com/W5Xw.gif);
    background-size: 100%; */
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    margin-top: 8px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 50px 100px;
    z-index: 10000;
    background-color: rgba(110, 110, 110, 0.404);
    
    
    

  }
  header.sticky {
    padding: 5px 100px;
    background-color: black;
    
  }
  header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    color: #484848;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  #rami {
    color: #8d8a8a;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;

   
    
    

  }
  h1 span {
    transition: 0.9s linear;
  }
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h1:hover span:nth-child(1):after {
    content: "'";
  }
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h1:hover span {
    color: #fff;
    text-shadow: 0 0 20px rgba(154, 6, 190, 0.74),
      0 0 40px rgba(154, 6, 190, 0.74);
  }
  .typed {
    display: inline-block;
    color: #8a8f98;
  }
  .typed::after {
    content: "|";
    display: inline;
    color: #c4c4c4;
    font-weight: 300;
    animation: blink 1s infinite;
  }
  .inline {
    background: #fc4a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f7b733,
      #fc4a1a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f7b733,
      #fc4a1a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    position: relative;
    list-style: none;
  }
  header ul a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
  }
  .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/Home/bc79a4fe9aa1f6e56f5d00a01ad0dae2.jpg);
    background-size: cover;
    background-position: center;
  }
  header.sticky .logo,
  header.sticky ul li a {
    color: #fff;
  }
  h3 {
    color: rgb(0, 223, 154);
    font-weight: 500;
    display: block;
    height: 15px;
    font-size: 15px;
    letter-spacing: 3.3px;
    line-height: 15px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    -webkit-box-direction: normal;
    margin-top: 3em;
  }
  .Container h1 {
    color: rgb(255, 255, 255);
    display: block;
    font-family: Graphik, sans-serif;
    font-size: 3em;
    font-weight: 1000;
    line-height: 52px;
    text-align: center;
    margin-top: 1em;
    margin-block-end: 24px;
  }
  .brackets {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-top: none;
    border-bottom: none;
    border-radius: 30px/90px;
  }
  .small-headline {
    display: block;
    box-sizing: border-box;
    color: #fff;
    font-family: Graphik, sans-serif;
    font-size: 32px;
    font-weight: 1000;
    line-height: 35px;
    text-align: center;
    text-size-adjust: 100;
    -webkit-box-direction: normal;
  }
  /* Media Queries */
  @media only screen and (max-width: 700px) {
    header ul {
      width: 100%;
      background: black;
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
      display: block;
      text-align: center;
    }
    header ul li {
      position: relative;
      list-style: none;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  .menu img {
    width: 80px;
    cursor: pointer;

}


/* //////////////////////////////// */


main{
    margin-top: 300px;
    margin-bottom: 0px;
}

#video {
    width: 100%;
    height: 70vh;
    display: block;
    margin: auto;
    margin-top: 40px;
    


    
}




#head{
    display: block;
    text-align: center;
    /* height: 50vh; */
}
.route{
    display: inline-block;
    padding: 3vh;

    
}

.route img{
    display: inline-block;

    width: 300px;
    height: 300px;
    text-align: center;
    border:solid tomato;
    width: 300px;
    height: 200px;
    border: 1px solid rgb(151, 2, 2);
    animation: mymove 3s infinite;
  }
  
  @keyframes mymove {
    50% {border-width: 8px;}
  }
    

.parag{

    padding: 10px; 
    border: 2px solid rgb(252, 0, 0);
    font-size: 18px;
    color: white;
}



h2{
    margin-top: 100px;
    color: rgb(252, 0, 0);
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    height: 100px;
    padding-top: 25px;
    background-image: url(https://i.gifer.com/CTM.gif);
    background-size: 10% ;
    font-family: 'Times New Roman', Times, serif;
    
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgb(204, 17, 17);
    width: 100%;
    height: 50px;
}
/* p :hover{
    background-color: violet;
    width: 100%;
    height: 100%;
} */


#major{

    
    height: 300px;
    width: 100%;
    
    background-image: url(https://i.gifer.com/Cal.gif);
    

    background-repeat: no-repeat;
  background-size: 100% 300px;

    position: absolute;
    top: 200px;
    right: 0px;
    


    
}

#special{
    text-align: center;
    font-family: cursive;
    font-size: 80px;
    color: rgb(93, 99, 97);
    padding-top: 160px;
    padding-left: 60%;

}

#parent{
    padding-top: 200px;

}

#tips{
    width: 100%;
    height: 70vh;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
    color: white;
    padding-top: 50px;
    font-family: cursive;
    font-size: 22px;
}

.li{
    color: white;
    font-family: serif;
    font-size: 22px;
    padding: 20px;
}

.bigTip{

    padding-bottom: 30px;
}


footer{
  height: 350px; 
  position: absolute;
  width: 100%;
  left: 0px;
}


.footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #fff;
background-color: rgb(5, 5, 5);
margin-top: 150px;
}

.footer > * {
flex: 1 100%;
}

.l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
}

.new {
font-weight: 400;
font-size: 15px;

}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;

}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.box a {
color: #999;
}

.h-box {
column-count: 1;
column-gap: 1.25em;
}

.b-footer {
text-align: center;
color: #999;
padding-top: 50px;

}

.l-footer p {
padding-right: 20%;
color: #999;

}

@media screen and (min-width: 600px) {
.r-footer > * {
  flex: 1;
}

.features {
  flex-grow: 2;
}

.l-footer {
  flex: 1 0px;
}

.r-footer {
  flex: 2 0px;
}
}
